<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd     
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">


    <!--Code Example : Ch2 - AnnotationTest -->

    <!-- spring可以自動去掃描base-pack下面的包或者子包下面的java文件，
    	如果掃描到有Spring的相關註解的類，則把這些類註冊為Spring的bean -->
    <context:component-scan base-package="spring.mvc.code.ch3.controller"/>
    
    <!-- 配置處理映射器 -->
    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping"/>
     
     <!-- 配置處理器適配器-->
    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter"/>

	<!-- 示圖解析器 -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver"/>

</beans>