<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 自動掃瞄該包，SpringMVC會將包下用了@controller註解的類註冊為Spring的controller -->
    <context:component-scan base-package="spring.mvc.code.ch3.controller"/>
    <context:component-scan base-package="spring.mvc.code.ch4.controller"/>
    <context:component-scan base-package="spring.mvc.code.ch12.controller"/>
    <context:component-scan base-package="com.enoxs.controller"/>
    <!-- 設置默認配置方案 -->
    <mvc:annotation-driven enable-matrix-variables="true">
        <!-- 設置不使用默認的消息轉換器 -->
        <mvc:message-converters register-defaults="false">
            <!-- 配置Spring的轉換器 -->
            <bean class="org.springframework.http.converter.StringHttpMessageConverter"/>
            <bean class="org.springframework.http.converter.xml.SourceHttpMessageConverter"/>
            <bean class="org.springframework.http.converter.ByteArrayHttpMessageConverter"/>
            <bean class="org.springframework.http.converter.BufferedImageHttpMessageConverter"/>
            <!-- 配置fastjson中實現HttpMessageConverter接口的轉換器 -->
            <bean id="fastJsonHttpMessageConverter"
                  class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">
                <!-- 加入支持的媒體類型：返回contentType -->
                <property name="supportedMediaTypes">
                    <list>
                        <!-- 這裡順序不能反，一定先寫text/html,不然ie下會出現下載提示 -->
                        <value>text/html;charset=UTF-8</value>
                        <value>application/json;charset=UTF-8</value>
                    </list>
                </property>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>
    <!-- 使用默認的Servlet來響應靜態文件 -->
    <mvc:default-servlet-handler/>
    <!-- 視圖解析器  p:prefix屬性表示前綴  p:suffix 表示後綴  -->
    <bean id="viewResolver"
          class="org.springframework.web.servlet.view.InternalResourceViewResolver"
          p:prefix="/WEB-INF/jsp/" p:suffix=".jsp"/>


    <mvc:resources location="WEB-INF/static/" mapping="/static/**" cache-period="86400"></mvc:resources>
    <mvc:resources location="WEB-INF/jsp/" mapping="/jsp/**" cache-period="86400"></mvc:resources>
    <mvc:resources location="WEB-INF/js/" mapping="/js/**" cache-period="86400"></mvc:resources>

    <!--2019-02-04 Code Example : Ch3 - SimpleMappingExceptionResolverTest BEGIN-->
    <!-- 異常處理
        p:defaultErrorView="error"表示所有沒有指定的異常,都跳轉到異常處理頁面error
        p:exceptionAttribute="ex"表示異常處理頁面中訪問的異常對像變量名是ex
    -->
    <bean class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver"
          p:defaultErrorView="error"
          p:exceptionAttribute="ex">
        <!-- 異常映射
                exceptionMappings表示映射的異常，接受參數是一個Properties
                key是異常類名，value是處理異常的頁面
        -->
        <property name="exceptionMappings">
            <props>
                <prop key="IOException">ioerror</prop>
                <prop key="SQLException">sqlerror</prop>
            </props>
        </property>
    </bean>
    <!--2019-02-04 Code Example : Ch3 - SimpleMappingExceptionResolverTest END-->

</beans>